<p>{{title}}</p>

<div class="gameContainer">
	<div class="factListsContainer">
		<!-->
			<div class="test">
				<p class="factListsContainer">FADE IN</p>
			</div>
		<-->
		
		<div class="example-container">
			<div
			cdkDropList
			#newFactsList="cdkDropList"
			[cdkDropListData]="newFacts"
			[cdkDropListConnectedTo]="[finalFactsList]"
			class="example-list" id="new-facts-list"
			(cdkDropListDropped)="drop($event)">
				<div class="example-box" *ngFor="let item of newFacts" cdkDrag>
					<p>{{item.fact}}</p>
				</div>
			</div>
		</div>

		<div class="example-container" id="final-facts-container">
			<div
			cdkDropList
			#finalFactsList="cdkDropList"
			[cdkDropListData]="finalFacts"
			[cdkDropListConnectedTo]="[newFactsList]"
			class="example-list" id="final-facts-list"
			(cdkDropListDropped)="drop($event)">
				<div class="example-box" *ngFor="let item of finalFacts" cdkDrag>
					<p class="animated">{{item.revealed == 1 ? item.value : item.fact}}</p>
				</div>
			</div>
		</div>
	</div>

	<div class="mistakesContainer">
		<div class="mistake" *ngFor="let mistake of numMistakes">
			<p>X</p>
		</div>
	</div>
</div>