<div class="roundTitle">
	<p>{{title}}</p>
</div>

<div class="gameContainer" (click)="resetWinLoseBackground()">
	
	<div class="gameBackground" *ngIf="curGroup == -1">
		<div class="titleCard">
				<p class="topLine">Welcome to</p>
				<p class="pittsanity">PittSanity</p>
		</div>
	</div>
	
	<div class="gameBackground" *ngIf="curGroup > -1">
		<div class="example-container">
			<div class="newFactPlaceholderContainer">
				<div class="newFactPlaceholder" *ngFor="let item of [].constructor(4)"></div>
			</div>
			
			<div
			cdkDropList
			#newFactsList="cdkDropList"
			[cdkDropListData]="newFacts"
			[cdkDropListConnectedTo]="[finalFactsList]"
			class="example-list" id="new-facts-list"
			(cdkDropListDropped)="drop($event)">
				<div class="newFactBox" *ngFor="let item of newFacts" cdkDrag>
					<p>{{item.fact}}</p>
				</div>
			</div>
		</div>

		<div class="example-container" id="final-facts-container">
			<div class="finalFactPlaceholderContainer">
				<div class="finalFactPlaceholder" *ngFor="let item of [].constructor(9)"></div>
			</div>
			
			<div
			cdkDropList
			#finalFactsList="cdkDropList"
			[cdkDropListData]="finalFacts"
			[cdkDropListConnectedTo]="[newFactsList]"
			class="example-list" id="final-facts-list"
			(cdkDropListDropped)="drop($event)">
				<div class="finalFactBox" *ngFor="let item of finalFacts; let i = index" id="{{ 'fact' + i }}" cdkDrag>
					<p class="animated">{{item.revealed == 1 ? item.answer : item.fact}}</p>
				</div>
				
			</div>
		</div>
	</div>

	<div class="mistakesContainer">
		<div class="mistake" *ngFor="let mistake of numMistakes">
			<p>X</p>
		</div>
	</div>
</div>
