:host {
	display: flex;
	height: 100vh;
	width: 100vw;
}

div.wrapper
{
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	width: 100%;
	/*height: 500px;*/
	height: 100%;
}

div.facts
{
	/*
	width: 100%;
	height: 500px;
	height: 100%;
	*/
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	padding-left: 10%;
	padding-right: 10%;
}