body
{
	background-image: url("assets/bg_blue.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed; 
	background-size: 100% 100%;
	margin: 0px;
	overflow: hidden;
}

p
{
	user-select: none;
}